/* Apply Roboto Mono to sidebar */
#sidebar {
    font-family: 'Roboto Mono', monospace;
}
/* Apply Roboto to the rest of the content */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E1E1E1;
}

.nav-link {
    color: white !important;
}

.sidebar-title {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
}

.sidebar-credits {
    background-color: #bdbdbd22;
    color: white;
    width: 100%;
    font-size:smaller
}

.sidebar-hr {
    width: 100%;
    border: 0.05rem solid rgba(255, 255, 255, 0.5);
}